body {
  background: peachpuff;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  border: 10px solid hotpink;
  margin: auto;
}
.a {
  width: 100%;
  padding-bottom: 20%;
  border: 10px solid rgb(134, 140, 24);
}
.b {
  width: 20%;
  padding-bottom: 20%;
  margin-bottom: 2%; 
  position: relative;
  border: 10px solid rgb(134, 140, 24);
  height: 5vh;
}
.c {
  width: 20%;
  padding-bottom: 20%;
  margin-bottom: 2%; 
  position: relative;
  border: 10px solid rgb(134, 140, 24);
  height: 5vh;
}
.d {
  width: 20%;
  padding-bottom: 20%;
  margin-bottom: 2%; 
  position: relative;
  border: 10px solid rgb(134, 140, 24);
  height: 5vh;
}
.e {
  width: 20%;
  padding-bottom: 20%;
  margin-bottom: 2%; 
  position: relative;
  border: 10px solid rgb(134, 140, 24);
  height: 5vh;
}
.f {
  width: 20%;
  padding-bottom: 20%;
  margin-bottom: 2%; 
  position: relative;
  border: 10px solid rgb(134, 140, 24);
  height: 5vh;
}
.g {
  width: 20%;
  padding-bottom: 20%;
  margin-bottom: 2%; 
  position: relative;
  margin-right: 26.3%;
  border: 10px solid rgb(134, 140, 24);
  height: 5vh;
}
.h {
  width: 20%;
  padding-bottom: 20%;
  margin-bottom: 2%; 
  position: relative;
  height: 50vh;
  border: 10px solid rgb(0, 0, 99);
}
