body {
  background: peachpuff;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  border: 10px solid hotpink;

}
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 75%;
  border: 10px solid rgb(20, 1, 11);
  min-height: auto;
}
.a {
  min-height: 100px;
  width: 100%;
  padding-bottom: 20%;
  border: 10px solid rgb(134, 140, 24);
}
.b {
  width: 24%;
  padding-bottom: 24%; 
  margin-bottom: 2%; 
  position: relative;
  border: 10px solid orange;

}
.c {
  width: 24%;
  padding-bottom: 24%; 
  margin-bottom: 2%; 
  position: relative;
  border: 10px solid orange;

}
.d {
  width: 24%;
  padding-bottom: 24%; 
  margin-bottom: 2%; 
  position: relative;
  border: 10px solid orange;

}
.e {
  width: 24%;
  padding-bottom: 24%; 
  margin-bottom: 2%; 
  position: relative;
  border: 10px solid orange;

}
.f {
  width: 24%;
  padding-bottom: 24%; 
  margin-bottom: 2%; 
  position: relative;
  border: 10px solid orange;

}
.g {
  width: 24%;
  padding-bottom: 24%; 
  margin-bottom: 2%; 
  position: relative;
  border: 10px solid orange;

}
.h {
  min-height: auto;
  width: 22%;
  padding-bottom: 20%;
  margin-bottom: 2%; 
  position: relative;
  height: 100vh;
  border: 10px solid rgb(0, 0, 99);
}
