body {
  background: blanchedalmond;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
border: 10px solid hotpink;
  }
.a{
  width: 32%;
  padding-bottom: 32%;
  margin-bottom: 2%;
  position: relative;
  border: 10px solid limegreen;
}
.b{
  width: 32%;
  padding-bottom: 32%;
  margin-bottom: 2%;
  position: relative;
  border: 10px solid limegreen;
}
.c{
  width: 32%;
  padding-bottom: 32%;
  margin-bottom: 2%;
  position: relative;
  border: 10px solid limegreen;
}
